@page
@model StudioSolunaWebPortfolio.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

    <h1 class="page-header">About</h1>


<section class="main-section">
    <h5>
        I've spent the bulk of my working career in the Produce department at Haggen Food and Pharmacy; This was not my end-goal. I've always been fascinated by the power that programmers have brought to us, in both small and less decipherable ways, as well as monumental, almost unfathomable ways.
        <br><br>
        My admiration for those people, coupled with a long-time appreciation for narrative and design has shaped my interests in such a way that my end goal is to design games that I can share with others, to do my little part in getting people excited about something I've been able to take from my mind into a real, appreciable form. In order to reach that goal I've spent the past 5 years (and counting) picking up all the skills necessary to create, because as much as I'd love to just throw my ideas out there and have someone else create things for me, I'm well aware how impractical OR expensive that would be.
        <br> <br>
        My weakest areas are art and sound design, thankfully my wife is a wonderful artist, there are plentiful resources online fdor free (or cheap) and eventually given a measure of success I can turn small projects and apps into larger realizations of my dreams.
        <br> <br>
        I know that for every success story, there are thousands, or even tens/hundreds of thousands of failures, but so long as I push forward, doing something towards my goals every single day, eventually even if I don't see success I'll still be learning; and someday something I've learned will prove useful to somebody out there, and I'll be able to help them realize their dreams.
    </h5>
</section>