@page
@model StudioSolunaWebPortfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

    <h1 class="page-header">Projects</h1>


<section class="projects-section" id="projects">
    <h2 class="projects-section-header">Projects</h2>
    <!-- Start Projects -->
    <div class="projects-grid">
        <!-- Placeholder -->
        <a href="https://github.com/baidenx7/Elebris.Library" target="_blank" class="project project-tile">
            <img class="project-image" src="images\projects\adventures projimg.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Elebris.Library
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="https://github.com/baidenx7/Elebris-Adventures" target="_blank" class="project project-tile">
            <img class="project-image" src="images\projects\libraryprojimg.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Elebris Adventures
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="StudioSolunaWebPortfolio\Pages\Juputer_and_rstudio\Project_1_movies.html" target="_blank" class="project project-tile">
            <img class="project-image" src="StudioSolunaWebPortfolio\wwwroot\images\Project_1_screenshot.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="StudioSolunaWebPortfolio\Pages\Juputer_and_rstudio\Project_2_dunedin.html" target="_blank" class="project project-tile">
            <img class="project-image" src="StudioSolunaWebPortfolio\wwwroot\images\Project_2_screenshot.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="StudioSolunaWebPortfolio\Pages\Juputer_and_rstudio\Project_3_mtg.html" target="_blank" class="project project-tile">
            <img class="project-image" src="StudioSolunaWebPortfolio\wwwroot\images\Project_3_screenshot.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="StudioSolunaWebPortfolio\Pages\Juputer_and_rstudio\Project_4_Stroop.html" target="_blank" class="project project-tile">
            <img class="project-image" src="StudioSolunaWebPortfolio\wwwroot\images\Project_4_screenshot.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="StudioSolunaWebPortfolio\Pages\Juputer_and_rstudio\Project_5_Enron.html" target="_blank" class="project project-tile">
            <img class="project-image" src="StudioSolunaWebPortfolio\wwwroot\images\Project_5_screenshot.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>

        <!-- End Projects -->
    </div>
</section>
