@page
@model StudioSolunaWebPortfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

    <h1 class="page-header">Projects</h1>


<section class="projects-section" id="projects">
    <h2 class="projects-section-header">Projects</h2>
    <!-- Start Projects -->
    <div class="projects-grid">
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>
        <!-- Placeholder -->
        <a href="#" target="_blank" class="project project-tile">
            <img class="project-image" src="img/projectfillerpic.png" />
            <p class="project-title">
                <span class="code">&lt;</span>
                Project Placeholder
                <span class="code">&#47;&gt;</span>
            </p>
        </a>

        <!-- End Projects -->
    </div>
</section>
