@page
@model StudioSolunaWebPortfolio.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}

<h1 class="page-header">Skills</h1>


<section class="skills-section" id="skills">
    <div class="grid-item">
        <i class="devicon-android-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-c-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-bootstrap-plain colored"></i>

    </div>
    <div class="grid-item">
        <i class="devicon-chrome-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-codepen-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-csharp-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-css3-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-dot-net-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-firefox-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-gimp-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-git-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-github-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-google-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-html5-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-javascript-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-nodejs-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-npm-original-wordmark colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-photoshop-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-python-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-sass-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-slack-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-sourcetree-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-trello-plain colored"></i>
    </div>
    <div class="grid-item">
        <i class="devicon-visualstudio-plain colored"></i>
    </div>
</section>