*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    font-weight: 300; //optional value 300 is thinner

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    //temporary values just to test functionality
    background-color:#000;
    color: #fff;
}

section {
    margin: 3rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: $box-shadow-light;
    background: $color-grey-1;

    h1 {
        font-size: 8rem;
        color: $color-night-dark;

        @media (max-width: 28.75em) {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: 7rem;
        color: $color-night-dark;

        @media (max-width: 28.75em) {
            font-size: 3.5rem;
        }
    }

    h3 {
        font-size: 6rem;
        color: $color-night-dark;

        @media (max-width: 28.75em) {
            font-size: 3rem;
        }
    }

    h4 {
        font-size: 3.5rem;
        color: $color-night-dark;

        @media (max-width: 28.75em) {
            font-size: 2rem;
        }
    }

    h5 {
        font-size: 2rem;
        color: $color-night-dark;

        @media (max-width: 28.75em) {
            font-size: 1rem;
        }
    }

    h6 {
        font-size: 2rem;
        color: $color-night-dark;

        @media (max-width: 28.75em) {
            font-size: .75rem;
        }
    }

    p {
        text-align: center;
    }
}
.page-header {
    text-align: center;
}