.main-section {
    color: $color-night-dark;
    text-align: left;

    a {
        font-size: 3rem;
    }

    h2 {
        text-align: center;
    }

    ul {
        text-align: left;
        font-size: 2rem;
        list-style-type: none;
    }
}

.welcome-section {
    text-align: center;
    color: $color-night-dark;
}

.profile-pictures {
    display: flex;
    
    text-align: center;
      
    //   https://www.w3schools.com/css/css3_images.asp
    .profile-picture {
        
        display: block;
        flex: 33.33%;
        padding: 5px;
        min-height: 300px;
        max-height: 350px;
        min-width: 150px;
        max-width: 1700px;
        
        border-radius: 8px;
        border: 1px solid #ddd;
        
        @media (max-width: 65em) {
            min-height: 200px;
            max-height: 250px;
            min-width: 150px;
            max-width: 200px;
        }
    
        @media (max-width: 30em) {
            min-height: 100px;
            max-height: 150px;
            min-width: 70px;
            max-width: 125px;
        }
    
    }
}
