.external-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
    align-content: center;

    @media (max-width: 65em) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 30em) {
        grid-template-columns: 1fr;
        grid-gap: 4rem;
        width: 100%;
        margin: auto;
    }
}

.external-card {
    max-width: 32rem;
    text-align: center;

    @media (max-width: 30em) {
        margin: 10px 10px 10px 0;
    }
}