body {
    margin:0px;
  
}
header{
    
    margin:0px;
}

.navbar {
    font-size: 2rem;
    font-family: 'Century Gothic';
    position: fixed;
    width: 100%;
    a{
       padding-left: 5rem;
       padding-right: 2rem;
       border-radius: 2rem;
    }
    
}
.navbar-brand{
    font-size: 3rem;
    font-family: 'Century Gothic';
}

