body {

  
}

.navbar {
    font-size: 2rem;
    font-family: 'Century Gothic';

    a{
       padding-left: 5rem;
       padding-right: 2rem;
       border-radius: 2rem;
    }
    
}
.navbar-brand{
    font-size: 3rem;
    font-family: 'Century Gothic';
}
.navbar-fixed-top
{
    font-size: 2rem;
    font-family: 'Century Gothic';

    a{
       padding-left: 5rem;
       padding-right: 2rem;
       border-radius: 2rem;
    }
}

