.projects-section
{
    text-align: center;
    padding: 10rem 2rem;
    
}
.projects-section-header {
    
    font-size: 6rem;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
    
    @media (max-width: 28.75em) {
        .projects-section-header {
            font-size: 4rem;
        }
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;

    @media (max-width: 30.625em) {
        .projects-section {
            padding: 6rem 1rem;
        }

        .projects-grid {
            grid-template-columns: 1fr;
        }
    }

    a{
        text-decoration: none;
        color: white;
    }
}

.project {
    background: $color-grey-1;
    box-shadow: $box-shadow-light;
    border-radius: 1rem;

    

    &.project-title {
        font-size: 2rem;
        padding: 2rem 0.5rem;
        h5{
            color: $color-night-light;
        }
    }

    &.code {
        color: white;
        transition: color 0.3s ease-out;

        &:hover {
            color: $gradient-day;
        }
    }
}
 

.project-image {
    height: calc(94% - 6.8rem);
    width: 80%;
    object-fit: cover; //why is this not containing the image
    max-height: 25em; //and why are these backups not either...
    max-width: 20em;
    min-height: 4em;
    min-width: 4em;
}