@page
@model StudioSolunaWebPortfolio.Pages.ExternalsModel
@{
    ViewData["Title"] = "Externals";
}

    <h1 class="page-header">Externals</h1>

<section class="external-section" id="externals">
    <!-- Start Externals -->
    <div class="external-card card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Codewars</h5>
            <p class="card-text">My Account for Codewars</p>
            <a href="https://www.codewars.com/users/baidenx7"
               class="btn btn-primary">Codewars Account</a>
        </div>
    </div>
    <div class="external-card card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Acclaim</h5>
            <p class="card-text">Acclaim-tracked Certifications</p>
            <a href="https://www.youracclaim.com/users/josh-folsom/badges"
               class="btn btn-primary">Acclaim Account</a>
        </div>
    </div>
    <div class="external-card card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Github</h5>
            <p class="card-text">A collection of repositiories for various coding projects and learning experiences</p>
            <a href="https://github.com/baidenx7"
               class="btn btn-primary">Github Account</a>
        </div>
    </div>
    <div class="external-card card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">LinkedIn</h5>
            <p class="card-text">Professional LinkedIn Account</p>
            <a href="https://www.linkedin.com/in/josh-folsom-4aa121146/"
               class="btn btn-primary">LinkedIn Account</a>
        </div>
    </div>
    <div class="external-card card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Itch.io</h5>
            <p class="card-text">Game Development Account</p>
            <a href="https://balthius.itch.io"
               class="btn btn-primary">Itch.io Account</a>
        </div>
    </div>
    <div class="external-card card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Barista Bots</h5>
            <p class="card-text">Student Project (Volunteer)</p>
            <a href="https://baristabots.wixsite.com/game"
               class="btn btn-primary">Barista Bots</a>
        </div>
    </div>
</section>

