@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* 

<section id="welcome-section" class="welcome-section">
    <h1 class="page-header">Studio Soluna</h1>

</section> *@
<section class="main-section">
    <h5>
        My name is Josh Folsom; I've built this site as a gathering point for all of my various projects and relevant accounts for personal use as well. I'm mnainly working on game development, APIs, Data storage, and statistical analysis.
        <br><br>
        
        <br><br>
    </h5>
</section>

<section class="main-section">
    <h6> This website was built in ASP.NET Core. The navbar is a default implementation of Bootstrap's. The bulk of the website's other pages are framed around CSS Grids, and Scss compiled with a fork of 'web compiler' <a style='font-size: 1em' href="https://github.com/excubo-ag/WebCompiler">Excubo</a>. I've recently implemented a CI/CD pipeline using Github Actions. </h6>
</section>
