@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section id="welcome-section" class="welcome-section">
    <h1 class="page-header">Josh Folsom</h1>
    <h4>Designer + Developer</h4>

</section>
<section class="main-section">
    <h5>
        I'm a Bellingham-based Developer. Some of my key technical strengths are in Backend Development, Database Administration, Data Mining, Microservices, Game Development, and CI/CD.
        <br><br>
        I rigorously fit learning new skills or honing existing ones into my everyday life; I've sought out courses, created numerous projects to explore different design patterns, languages and alternate approaches; I find the Problem Solving Process cathartic, and building applications in such a way that problems either never arise or are easily assessed to be deeply satisfying.
        <br><br>
    </h5>
</section>

<section class="main-section">
    <h6> This website was built in ASP.NET Core. The navbar is a default implementation of Bootstrap's. The bulk of the website's other pages are framed around CSS Grids, and Scss compiled with a fork of 'web compiler' <a style='font-size: 1em' href="https://github.com/excubo-ag/WebCompiler">Excubo</a>. I've recently implemented a CI/CD pipeline using Github Actions. </h6>
</section>
