@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section id="welcome-section" class="welcome-section">
    <h1 class="page-header">Josh Folsom</h1>
    <h4>Designer + Developer</h4>

</section>
<sectio class="profile-pictures">
 <img class="profile-picture" src="images\pfp.jfif" />
  <img class="profile-picture" src="images\pfp2.jfif" />
   <img class="profile-picture" src="images\pfp3.jfif" />
</sectio>
<section class="main-section">
    <h5>
        I'm a Bellingham-based Developer. Some of my key technical strengths are in <b>Backend Development</b>, <b>Database Administration</b>, <b>Data Mining</b>, <b>Microservices</b>, <b>Game Development</b>, and <b>CI/CD</b>.
        <br><br>
        I rigorously fit learning new skills, or honing existing ones into my everyday life; I've sought out courses, created numerous projects to explore different design patterns, languages, and alternate approaches to any given problem.
        <br><br>
         I find problem solving cathartic, and building applications in such a way that problems either never arise or are easily assessed thanks to established logging and testing protocols to be deeply satisfying.
        <br><br>
    </h5>
</section>

<section class="main-section">
    <h6> This website was built in ASP.NET Core. The navbar is a default implementation of Bootstrap's. The bulk of the website's other pages are framed around CSS Grids, and Scss compiled with a fork of 'web compiler' <a style='font-size: 1em' href="https://github.com/excubo-ag/WebCompiler">Excubo</a>. I've recently implemented a CI/CD pipeline using Github Actions. </h6>
</section>
