@page
@model StudioSolunaWebPortfolio.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}

<h1 class="page-header">Skills</h1>


<section class="skills-section" id="skills">
    <div class="grid-item">
        @* <i class="devicon-android-plain colored"></i> *@
        <h5>Android</h5>
    </div>
    <div class="grid-item">
          <h5>ASP.NET Core</h5>
    </div>
    <div class="grid-item">
         <h5>Azure</h5> 
    </div>
    
    <div class="grid-item">
        <h5>Anaconda</h5> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-bootstrap-plain colored"></i> *@
        <h5>Bootstrap</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-c-plain colored"></i> *@
        <h5>C</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-c-plain colored"></i> *@
        <h5>C++</h5>
    </div>
     <div class="grid-item">
        @* <i class="devicon-csharp-plain colored"></i> *@
        <h5>C#</h5>
    </div>
    
    <div class="grid-item">
        <h5>Caliburn Micro</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-chrome-plain colored"></i> *@
        <h5>Chrome</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-codepen-plain colored"></i> *@
        <h5>Codepen</h5>
    </div>
   
    <div class="grid-item">
        @* <i class="devicon-css3-plain colored"></i> *@
        <h5>CSS3</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-dot-net-plain colored"></i> *@
        <h5>.NET</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-firefox-plain colored"></i> *@
        <h5>FireFox</h5>
    </div>
    
    <div class="grid-item">
         <h5>Flask</h5> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-gimp-plain colored"></i> *@
        <h5>GIMP</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-git-plain colored"></i> *@
        <h5>Git</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-github-plain colored"></i> *@
        <h5>GitHub</h5>
    </div>
    <div class="grid-item">
        <h5>GitHub Actions</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-google-plain colored"></i> *@
        <h5>Google</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-html5-plain colored"></i> *@
        <h5>HTML5</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-javascript-plain colored"></i> *@
        <h5>Javascript</h5>
    </div>
    
    <div class="grid-item">
         <h5>Jupyter Notebook</h5> 
    </div>
    
    <div class="grid-item">
         <h5>MongoDB</h5> 
    </div>

    <div class="grid-item">
         <h5>Microsoft Office</h5> 
    </div>
    <div class="grid-item">
        <h5>MSSQL</h5> 
    </div>
    
    <div class="grid-item">
        @* <i class="devicon-nodejs-plain colored"></i> *@
        <h5>Node.js</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-npm-original-wordmark colored"></i> *@
        <h5>npm</h5>
    </div>
    <div class="grid-item">
        <h5>Nuget</h5> 
    </div>
    
    
    <div class="grid-item">
        <h5>PowerBI</h5> 
    </div>
    <div class="grid-item">
        <h5>Postgres</h5>  
    </div>
    <div class="grid-item">
        @* <i class="devicon-photoshop-plain colored"></i> *@
        <h5>Photoshop</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-python-plain colored"></i> *@
        <h5>Python</h5>
    </div>
    
    <div class="grid-item">
        <h5>RStudio</h5> 
    </div>
    
    <div class="grid-item">
        <h5>React</h5> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-sass-plain colored"></i> *@
        <h5>SASS</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-slack-plain colored"></i> *@
        <h5>Slack</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-sourcetree-plain colored"></i> *@
        <h5>SourceTree</h5>
    </div>
    <div class="grid-item">
        @* <i class="devicon-trello-plain colored"></i> *@
        <h5>Trello</h5>
    </div>
    
    <div class="grid-item">
        <h5>Tableau</h5>
    </div>
    
    <div class="grid-item">
        <h5>Typescript</h5> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-visualstudio-plain colored"></i> *@
        <h5>Visual Studio</h5>
    </div>
    <div class="grid-item">
        <h5>Visual Studio Code</h5>
    </div>
    
    
    
    <div class="grid-item">
          <h5>Unity</h5>
    </div>
</section>