@page
@model StudioSolunaWebPortfolio.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}

<h1 class="page-header">Skills</h1>


<section class="skills-section" id="skills">
    <div class="grid-item">
        @* <i class="devicon-android-plain colored"></i> *@
        <h6>android</h6>
    </div>
    <div class="grid-item">
          <h6>ASP.NET Core</h6>
    </div>
    <div class="grid-item">
         <h6>Azure</h6> 
    </div>
    
    <div class="grid-item">
        <h6>Anaconda</h6> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-bootstrap-plain colored"></i> *@
        <h6>Bootstrap</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-c-plain colored"></i> *@
        <h6>C</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-c-plain colored"></i> *@
        <h6>C++</h6>
    </div>
     <div class="grid-item">
        @* <i class="devicon-csharp-plain colored"></i> *@
        <h6>C#</h6>
    </div>
    
    <div class="grid-item">
        <h6>Caliburn Micro</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-chrome-plain colored"></i> *@
        <h6>Chrome</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-codepen-plain colored"></i> *@
        <h6>Codepen</h6>
    </div>
   
    <div class="grid-item">
        @* <i class="devicon-css3-plain colored"></i> *@
        <h6>CSS3</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-dot-net-plain colored"></i> *@
        <h6>.NET</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-firefox-plain colored"></i> *@
        <h6>FireFox</h6>
    </div>
    
    <div class="grid-item">
         <h6>Flask</h6> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-gimp-plain colored"></i> *@
        <h6>GIMP</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-git-plain colored"></i> *@
        <h6>Git</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-github-plain colored"></i> *@
        <h6>GitHub</h6>
    </div>
    <div class="grid-item">
        <h6>GitHub Actions</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-google-plain colored"></i> *@
        <h6>Google</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-html5-plain colored"></i> *@
        <h6>HTML5</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-javascript-plain colored"></i> *@
        <h6>Javascript</h6>
    </div>
    
    <div class="grid-item">
         <h6>Jupyter Notebook</h6> 
    </div>
    
    <div class="grid-item">
         <h6>MongoDB</h6> 
    </div>

    <div class="grid-item">
         <h6>Microsoft Office</h6> 
    </div>
    <div class="grid-item">
        <h6>MSSQL</h6> 
    </div>
    
    <div class="grid-item">
        @* <i class="devicon-nodejs-plain colored"></i> *@
        <h6>Node.js</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-npm-original-wordmark colored"></i> *@
        <h6>npm</h6>
    </div>
    <div class="grid-item">
        <h6>Nuget</h6> 
    </div>
    
    
    <div class="grid-item">
        <h6>PowerBI</h6> 
    </div>
    <div class="grid-item">
        <h6>Postgres</h6>  
    </div>
    <div class="grid-item">
        @* <i class="devicon-photoshop-plain colored"></i> *@
        <h6>Photoshop</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-python-plain colored"></i> *@
        <h6>Python</h6>
    </div>
    
    <div class="grid-item">
        <h6>RStudio</h6> 
    </div>
    
    <div class="grid-item">
        <h6>React</h6> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-sass-plain colored"></i> *@
        <h6>SASS</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-slack-plain colored"></i> *@
        <h6>Slack</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-sourcetree-plain colored"></i> *@
        <h6>SourceTree</h6>
    </div>
    <div class="grid-item">
        @* <i class="devicon-trello-plain colored"></i> *@
        <h6>Trello</h6>
    </div>
    
    <div class="grid-item">
        <h6>Tableau</h6>
    </div>
    
    <div class="grid-item">
        <h6>Typescript</h6> 
    </div>
    <div class="grid-item">
        @* <i class="devicon-visualstudio-plain colored"></i> *@
        <h6>Visual Studio</h6>
    </div>
    <div class="grid-item">
        <h6>Visual Studio Code</h6>
    </div>
    
    
    
    <div class="grid-item">
          <h6>Unity</h6>
    </div>
</section>